@page "{id}"
@using ContosoCrafts.WebSite.Services
@inject JsonFileProductService ProductService
@model ContosoCrafts.WebSite.Pages.Product.UpdateModel
@{
    ViewData["Title"] = "Update page";
}

<body class="crud">

    <div class="container">
        <form method="post">

            <input id="Product_Id" name="Product.Id" type="hidden" value=@Model.Product.Id>

            <div class="form-group">
                <label class="control-label" asp-for="Product.Title">Title</label>
                <input class="form-control" asp-for="Product.Title" data-val="true" data-val-length="The Title should have a length of more than 1 and less than 33" data-val-length-max="33" data-val-length-min="1">
                <span class="text-danger" asp-validation-for="Product.Title"></span>
            </div>

            <div class="form-group">
                <label class="control-label" asp-for="Product.Url">Url</label>
                <input class="form-control" asp-for="Product.Url">
                <span class="text-danger" asp-validation-for="Product.Url"></span>
            </div>

            <div class="form-group">
                <label class="control-label" asp-for="Product.Image">Image</label>
                <input class="form-control" asp-for="Product.Image">
                <span class="text-danger" asp-validation-for="Product.Image"></span>
            </div>

            <div class="form-group">
                <label class="control-label" asp-for="Product.Description">Description</label>
                <input class="form-control" asp-for="Product.Description">
                <span class="text-danger" asp-validation-for="Product.Description"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary">
            </div>

            <input name="__RequestVerificationToken" type="hidden" value="">

        </form>
    </div>
</body>