@page
@model ContosoCrafts.WebSite.Pages.AboutModel
@{
    ViewData["Title"] = "About Us";
}

<body class="bg" align="center">

    <div>

        <h1>About Us</h1>

        <p>
            <i>
                The need for supplementary help via charitable activities has long been overlooked.
                Employees and retirees are interested in volunteer work. More than 90% of employees and more than 70% of retirees are at least interested in Community service.
                This is an exciting potential for increasing country volunteering rates via this initiative.
                Our idea is to make a website where clients can find volunteering programs where they can register for upcoming events, and they will receive a confirmation mail regarding their place, date, and time.
                We also have an option of donating to events where they will receive an e- certification.
            </i>
        </p>

        <p>
            <i>
                The Helping Hands include events like Educating children, setting up Food banks, Disaster relief, and Notification for upcoming events,
                registration available for the people above 18 interested in volunteering, E- certificate for Donation, updating events on a Daily basis,
                deleting the old events and many more.
            </i>
        </p>

        <br /> <br />

    </div>
</body>