@page
@model Contact_UsModel
@{
    ViewData["Title"] = "Contact Us";
}

<h1>@ViewData["Title"]</h1>

<body class="cu" align="centre">

    <div id="Content1">
        <dl>
            <dt><strong>Vaishnavi Punati</strong></dt>
            <dd>vpunati@seattleu.edu</dd>
        </dl>
    </div>

    <div id="Content2">
        <dl>
            <dt><strong>Priyanka Vysyaraju</strong></dt>
            <dd>pvysyaraju@seattleu.edu</dd>
        </dl>
    </div>

    <div id="Content3">
        <dl>
            <dt><strong>Priyadarshini S M</strong></dt>
            <dd>psm@seattleu.edu</dd>
        </dl>
    </div>

    <div id="Content4">
        <dl>
            <dt><strong>Yashoda utture</strong></dt>
            <dd>yutture@seattleu.edu</dd>
        </dl>
    </div>

</body>