@page
@model ContosoCrafts.WebSite.Pages.donateModel
@{
    ViewData["Title"] = "Donate and do good";
}

<body class="db" align="center">

    <div class="cont">
        <div class="row">
            <div class="column-66">

                <h1><b>DONATE AND DO GOOD</b></h1>

                <br />

                <p>
                    That rowing machine that’s gathering dust in your basement, the clothes your kids have outgrown, that orange rug that clashes with your new furniture? Donate them!
                    Not only will you feel great about cleaning out your house and recycling things you no longer want, you’ll also have the satisfaction of knowing your donation will help put people to work.
                    Net proceeds from the sale of your used items help fund our free job training and education programs and services. You get more space in your home.
                    People in our community get the training they need to secure jobs to support themselves and their families. Everyone benefits.
                    So, go ahead, tackle that garage with a cause in mind..
                </p>

            </div>

            <div class="column-33">
                <img src="https://d1urgxgdb4lky3.cloudfront.net/wp-content/uploads/2020/05/iStock-166637296-e1642101702674.jpg" width="400" height="350" />
            </div>

        </div>
    </div>

    <div class="cont">
        <div class="row px-2">

            <div class="column-33">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRgZ1Kv4xiz5xAH60-GIUooF_DETF-nWtXtjo_mGtP7TjQHzTpKbYbJ96v31dOxGWzJ5xQ&usqp=CAU" width="300" height="300" />
            </div>

            <div class="column-66">

                <h3><b>NEED HELP GETTING YOUR DONATIONS TO GOODWILL</b></h3>

                <p><i>Here is the option that will make it easier to drop-off your donations. </i></p>

                <br />

                <p>
                    College Hunks can pick up your donations and drop them off at a Goodwill store within the Seattle metro area.
                    Donors will receive a discount off the regular price when donating items to Goodwill.
                    Goodwill donors receive $15 off a half-truckload or less, $30 off a full truckload or more.
                    Visit <a href="http://collegehunkshaulingjunk.com/junk-removal"> http://collegehunkshaulingjunk.com/junk-removal </a> for more information.
                </p>

            </div>
        </div>
    </div>

    <div class="cont">
        <div class="row">
            <div class="column-66">

                <h1><b>CORPORATE DONATIONS</b></h1>

                <br />

                <p>
                    <i>
                        Your business can support Goodwill’s mission by hosting a corporate donation drive. Here’s how easy it is:
                        Host a one day to one week donation drive at your worksite any time of the year. Goodwill will provide a truck and an attendant to collect donations,
                        or supply collection bins which Goodwill will service—your choice. Goodwill will let you know how many pounds of materials were donated at your worksite.
                        A donation drive can be a great team building experience, and your employees gain satisfaction by helping those in need.
                        <a class="" asp-page="/Contact_Us" target="">Email Us!</a>

                    </i>
                </p>

            </div>

            <div class="column-33">
                <img src="https://thumbs.dreamstime.com/b/business-team-box-donation-as-charitable-corporate-156480334.jpg" width="380" height="300" />
            </div>

        </div>
    </div>
</body>