@page
@model FaqModel
@{
    ViewData["Title"] = "FAQ's";
}

<body class="cp" align="center">

    <h1>@ViewData["Title"]</h1>

    <p>

        <br><b>FAQ's</b><br>

        <br><b>What is your organization's mission?</b><br>
        VolunteerMatch believes that volunteering can change lives – starting with yours. When we connect with our communities and each other through service we can find our passion and purpose, build camaraderie and hope, and experience joy and gratitude.
        Every person deserves an opportunity to be a part of the greater good.

        <br>

        <br><b>Where does the money go when I donate to your organization?</b><br>
        The money donated will be spent on different events like educating children, community cleanups, river cleanups and the events will be listed on the homepage

        <br>

        <br><b>Who runs the organization?</b><br>
        The organization is runned by our partners and staff members are volunteers

        <br>

        <br><b>How can I partner with the organization?</b><br>
        You can Register to our Website Helping Hands via Registration Page and you can see the events which are being held,the event details will be listed and you can volunteer to any event at your own time and place.

        <br>

        <br><b>Can I donate if I live outside of the United States?</b><br>
        Yes, you can donate from any country, you can do that by clicking donate button and fill all the required bank details and finish the transcation

        <br>

        <br><b>Does Helping Hands staff get paid?</b><br>
        No. All our partners and staff members are volunteers. Despite our heavy academic and professional commitments, we donate our time and energy because
        we strongly believe that together we can make a real difference to improve the life of children and women.

        <br>

        <br><b>What is Helping Hands’s Vision?</b><br>
        Our vision is to ensure that every underprivileged child or women attains his or her right to education, health and opportunity.

        <br>

        <br><b>How can I get involved in the organization's mission?</b><br>
        You can Register to our Website Helping Hands via Registration Page and you can see the events which are being held,the event details will be listed and you can volunteer to any event at your own time and place.
        you can also donate to us by clicking on donate button and you can also be a volunteer to our events.

    </p>

</body>