@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<body class="pp" align="center">

    <h1>@ViewData["Title"]</h1>

    <p>
        <br>

        Privacy Policy agreements inform users what information is collected from them.
        This includes information users voluntarily and actively provide when they register to use services,
        as well as information that may be collected from them automatically, such as through the use of cookies.

        <br>
        <br>

        Cookies: We employ cookies and similar technologies to keep track of your local computer settings
        such as wchich account you have logged into and notification settingscookies are pieces of data that sites and services can set
        on your browser or device that can be read on future visits. We may expand our use of cookies to save additional data as new features are added to the service

        <br>
        <br>

        We follow industry Standards on information security management to safeguard sensitive information,
        such as user details and any other personal infoemation entrusted to us. Oue information security systems
        apply to people,process and information technology systems on a risk management basis.

    </p>

</body>