@page
@model WhoweareModel
@{
    ViewData["Title"] = "Who we are";
}

<body class="pc" align="center">

    <h1>@ViewData["Title"]</h1>

    <p>
        As fellow graduate students of Fall 2022 at Seattle university, Priyadarshini, Yashoda, Vaishnavi, and Priyanka noticed that there are so many opportunities blooming in
        volunteer service in order to take that light to youngsters those who are willing to do volunteer work. So we decided to ease up this process by developing a web application that would
        tell the end user, where and when they get a chance to do volunteering in available and for upcoming events.
    </p>

</body>